* {
  box-sizing: border-box;
}
body{
  font-family: 'Mulish', sans-serif;
}
.box-1{
  width: 545px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.ourservis{
  width: 1200px;
  margin: auto;
}
.box-2{
  text-decoration: none;
}
.box-0{
  display: flex;
  width: 1200px;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.box-3{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #1F1534;
  opacity: 0.5;
  text-decoration: none;
}


.box-5{
  color: darkgray;
  width: 400px;
}
 
.box-great{
  text-decoration: none;
  color: aliceblue;
}
.box-6{
  border-radius: 14px;
  width: 130px;
  height: 40px;
  
}
.box-7{
  width: 200px;
  height: 56px;
  background: #458FF6;
  border-radius: 55px;
  border: none;
  cursor: pointer; 
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  transition: all 0.5s ease;
}
.box-7:hover{
  background-color: #FFFFFF;
  border: 2px solid #458FF6;
  color: #458FF6;
}
.birlar{
  width: 486px;
}
.sherzod {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}
.indek{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.qwerty{
  width: 500px;
}
.pul{
  width: 1200px;
  margin-left:1px ;
}
.lere{
  width: 80px;
  height: 80px;
}

.ishon{
  text-align: center;
}
.chiziq{
  width: 70px;
  height: 2px;
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
}
.chiziqcha{
  width: 1200px;
  margin: auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}
.lis-taim{
  width: 350px;
  height: 300px;
  margin-bottom: 35px;
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.lis-taim:hover{
  box-shadow: 10px 40px 50px rgba(171, 171, 171, 0.4);
}
.lis-taim:active{
  transform: scale(0.9);
  box-shadow: 10px 40px 50px rgba(171, 171, 171, 0.4);
}
.battan{
  width: 200px;
  height: 56px;
  background-color: #FFFFFF;
  cursor: pointer;
  border: 2px solid #458FF6;
  box-sizing: border-box;
  border-radius: 55px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #458FF6;
  transition: all 0.5s ease;
}
.battan:hover{
  background-color: #458FF6;
  border: 2px solid #458FF6;
  color: #fff;
}
.ffff{
  text-decoration: none;
  color: blue;
}
.battann{
  padding: 9px 30px;
  cursor: pointer;
  border: 2px solid #458FF6;
  box-sizing: border-box;
  border-radius: 55px;
  background-color: #FFFFFF;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #458FF6;
  transition: all 0.5s ease;
}
.battann:hover{
  background-color: #458FF6;
  border: 2px solid #458FF6;
  color: #fff;
}
.urta{
  text-align: center;
}
.achki{
  height: 3px;
  border-radius: 5px;
  background-color: #000000;
  margin-left: 0px;
  width: 70px;
}
.lading{
  width: 600px;
  padding: 140px;
}
.solo{
  width: 1200px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.nomer{
  width: 1200px;
  margin: auto;
}
.vivo{
  margin-left: 50px;
  width: 80px;
  text-align: start;
}
.lalala{
  width: 1200px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.quti{
  width: 400px;
}
.telfon{
  color: darkgrey;
}

.zxcvb{
  width: 200px;
  height: 56px;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 2px solid #458FF6;
  box-sizing: border-box;
  border-radius: 55px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #458FF6;
  transition: all 0.5s ease;
}
.zxcvb:hover{
  background-color: #458FF6;
  border: 2px solid #458FF6;
  color: #fff;
}
.ruchka{
  font-size: 130%;
}
.qizil{
  text-decoration: none;
  color: blue;
}
.mishka{
  display: flex;
}
.wifi{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  margin-top: 10px;
}
.tuk{
  width: 70px;
  height: 3px;
  border-radius: 2px;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}
.telfon{
  border-radius: 50px;
}
.setka{
  width: 1200px;
  margin: auto;
}
.molia{
  padding: 10px;
  width: 1200px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
}
.zamok{
  width: 1200px;
  margin: auto;
}
.personimg{
  margin-left: 50px;
  border-radius: 80px;
}
.osmon{
  width: 1200px;
  margin: auto;
}
.oppo{
  margin-top: 30px;
  display: inline-block;
}
.fifa{
  display: inline-block;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #FFFFFF;
}
.fifa2 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 32px;
}

.gollo{
  padding-left: 200px;
  color: aliceblue;
}
.sdfgh{
  margin-top: -33px;
  margin-left: 20px;
  display: inline-block;
}
.klav{
  padding-left: 450px;
}
.laliga{
  text-align: center;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
}
.dono{
  width: 70px;
  height: 3px;
  background: #000000;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  margin-left: auto;
  margin-right: auto;
  margin-left: 500px;
}
.nike{
  width: 1200px;
  justify-content: space-between;
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.box_wrap {
  display: flex;
  align-items: center;
}
.noshnik{
  text-decoration: none;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #4089ED;
}

.box-inner {
  margin-left: 26px;
  margin-bottom: 10px;
}
.shalo{
  color: darkgray;
}
.najot{
  width: 350px;
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}
.gallaxy{
  text-decoration: none;
  color: blue;
}
.appll{
  padding: 6px 50px;
  margin-left: 600px;
  border: 2px solid blue;
  border-radius: 50px;
  cursor: pointer;
}
.sila{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
.qirq{
  width: 1200px;
  height: 250px;
  padding-top: 40px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.bola{
  width: 500px;
  justify-content: space-between;
  list-style-type: none;
  color: rgb(249, 252, 255);
}
.dula{
  color: darkgray;
}
.tele{
  color: darkgray;
}
.redmi{
  color: darkgray;
  text-align: center;
}
.box-8{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #1F1534;
  text-decoration: none;
}
.anti{
  width: 500px;
  margin-top: 30px;
}
.fofo{
  font-size: 1px;
  width: 1200px;
  height: 100px;
  margin: auto;
}
.folo{
  margin-top: 35px;
}
.hovli{
  margin-top: 30px;
}

.foter {
  width: 100%;
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.imgv {
  margin-left: 10px;
}

.link__foter {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #4089ED;
  text-decoration: none;
}